.text-secondary{
	color : #667f99;
}
.text-primary{
	color : #141a1f;
}
.text-hover-primary{
	color: #4a69e8;
}
.bg-background-secondary{
	background-color: #F0F3F5;
}
.border-side{
	border: 1px solid #d1d9e1;
}
.bg-white{
	background-color: white;
}
.font-2xl {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 500;
}
.font-4xl {
	font-size: 32px;
	line-height: 1.2;
	font-weight: 700;
}
.font-sm {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 500;
}
.w300{
	width: 300px;
}