<header class="border-side">
    <nav class="container py-12 d-flex justify-content-between align-items-center">
      <img src="/assets/images/logo.svg" alt="logo">
      <ul class="d-flex justify-content-center align-items-center py-2 px-4 gap-12">
        <li class="py-2 px-4"><a href="">服務方案</a></li>
        <li class="py-2 px-4"><a href="">關於職旅</a></li>
        <li class="py-2 px-4"><a href="">聯絡我們</a></li>
      </ul>
      <div class="d-flex justify-content-center align-items-center">
        <img class="avatar me-2" src="/assets/images/avatar.png" alt="avatar">
        <p>Mokumaru</p>
      </div>
    </nav>
  </header>